<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.mapper.ActivityMapper">

    <insert id="addActivity">
        insert into activity
        (name, channel, type, start_time, end_time, description, discount, voucher)
        values
        (#{name}, #{channel}, #{type}, #{startTime}, #{endTime}, #{description}, #{discount},
        #{voucher})
    </insert>

    <update id="updateActivity">
        update activity
        set name = #{name},
        channel = #{channel},
        type = #{type},
        start_time = #{startTime},
        end_time = #{endTime},
        description = #{description},
        discount = #{discount},
        voucher = #{voucher}
        where id = #{id}
    </update>

    <select id="getActivities" resultType="com.qk.entity.Activity">
        select * from activity
        <where>
            <if test="channel != null">
                and channel = #{channel}
            </if>
            <if test="status == 1">
                and start_time &gt; now()
            </if>
            <if test="status == 2">
                and start_time &lt;= now() and end_time &gt;= now()
            </if>
            <if test="status == 3">
                and end_time &lt; now()
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
    </select>
</mapper>