<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.mapper.RoleMapper">
    <select id="getRoles" resultType="com.qk.entity.Role">
        select id,name,label,remark,create_time,update_time from role
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
            <if test="label != null and label != ''">
                and label like concat('%',#{label},'%')
            </if>
        </where>
    </select>
</mapper>